.dropdown {
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0.7em;
  border: var(--border);
  box-shadow: inset var(--general-shadow);
  background-color: var(--background-color);
  color: var(--color);
}

.dropdown__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown__item {
  /*  */
}

.dropdown__item.hidden {
  display: none;
}
