.button {
  position: relative;
  min-height: 3.4em;
  margin: 1em 0;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  letter-spacing: 0.08rem;
  border: var(--border);
  background-color: var(--background-color);
  color: var(--color);
  transition: 0.2s;
}

.button:hover {
  border-color: var(--brand-color);
}

.button.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.button__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button__loader::after {
  display: inline-block;
  animation: ellipsis 1.25s infinite;
  content: '.';
  width: 1em;
  text-align: left;
}

@keyframes ellipsis {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
}
