.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  box-shadow: 0 0.3em 1em var(--black);
  color: var(--white);
  background-color: var(--light-dark);
  background: radial-gradient(circle, var(--light-dark) 0%, var(--black) 100%);
  background: -moz-radial-gradient(
    circle,
    var(--light-dark) 0%,
    var(--black) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    var(--light-dark) 0%,
    var(--black) 100%
  );

  --color: var(--white);
  --error-color: var(--red);
  --background-color: var(--dark);
}

.App.light {
  box-shadow: 0 0.3em 1em var(--white);
  color: var(--black);
  background-color: var(--white);

  --color: var(--black);
  --background-color: var(--white);
}

.App-body {
  width: 50%;
  min-width: 320px;
  max-width: 34em;
}

.App-body__page-wrapper {
  min-height: 24em;
  margin-bottom: 2.2em;
  border-radius: 2.5rem;
  background-color: var(--dark);
  box-shadow: 0 0.2em 2.2em 0.1em var(--black);
  -moz-box-shadow: 0 0.2em 2.2em 0.1em var(--black);
  -webkit-box-shadow: 0 0.2em 2.2em 0.1em var(--black);
}
