.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--light-dark);
  background: radial-gradient(circle, var(--light-dark) 10%, var(--black) 100%);
  background: -moz-radial-gradient(
    circle,
    var(--light-dark) 10%,
    var(--black) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    var(--light-dark) 10%,
    var(--black) 100%
  );

  --color: var(--white);
  --error-color: var(--red);
  --notice-color: #272727;
  --background-color: var(--dark);
  --brand-color: var(--orange);
  --general-background-color: var(--light-dark);
  --general-shadow: 0 0.1em 1.1em #0a0a0a;
  --border: 0.1em solid var(--dark-gray);
}

.App.light {
  color: var(--black);
  background-color: var(--white);
  background: radial-gradient(circle, var(--white) 0%, var(--gray) 100%);
  background: -moz-radial-gradient(circle, var(--white) 0%, var(--gray) 100%);
  background: -webkit-radial-gradient(
    circle,
    var(--white) 0%,
    var(--gray) 100%
  );

  --color: var(--black);
  --notice-color: rgb(223, 223, 223);
  --background-color: var(--light);
  --brand-color: var(--blue);
  --general-shadow: 0 0.2em 1.5em 0.1em #c4c4c4;
  --border: 0.1em solid var(--gray);
}

.App-body {
  position: relative;
  width: 50%;
  min-width: 320px;
  max-width: 38em;
}

.App-body__page-wrapper {
  height: 30em;
  overflow-y: scroll;
  margin-bottom: 2.4em;
  padding-top: 3rem;
  border-radius: 2.5rem;
  background-color: var(--background-color);
  box-shadow: var(--general-shadow);
  -moz-box-shadow: var(--general-shadow);
  -webkit-box-shadow: var(--general-shadow);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App-body__page-wrapper::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.App-body__page-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.page-title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width:  100%;
  margin: 0 0 1.3rem;
  padding: 1rem 2rem;
  border-radius: 2.5rem 2.5rem 0 0;
  border-bottom: 1px solid var(--notice-color);
  letter-spacing: 0.1em;
  box-shadow: 0 .1rem .3rem var(--notice-color);
  background-color: var(--background-color);
}
