.header {
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2.2rem;
  -webkit-box-shadow: var(--general-shadow);
  -moz-box-shadow: var(--general-shadow);
  box-shadow: var(--general-shadow);
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__page-tab {
  position: relative;
  margin-right: 1em;
  padding: 0.8rem 1.6rem;
  font-size: 1.1em;
  border: none;
  border-radius: 1em;
  box-shadow: inset 0px 0px 0.5rem var(--transparent-3);
  background-color: transparent;
  color: var(--color);
  transition: 0.2s;
}

.header__page-tab:hover {
  background-color: var(--hover-background);
}

.header__them-wrapper {
  cursor: pointer;
  position: relative;
  width: 3em;
  height: 2em;
  padding: 1.2rem 1.8rem;
  border-radius: 1em;
  box-shadow: inset 0px 0px 0.5rem var(--transparent-3);
  background-color: transparent;
}

.header__theme-fakecheckbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  transition: 0.2s;
}

.header__theme-fakecheckbox:hover {
  background-color: var(--hover-background);
}

.header__theme-fakecheckbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: var(--transparent-2);
  transition: 0.2s;
}

#header__theme-checkbox:checked + .header__theme-fakecheckbox::before {
  left: 50%;
}
