.wallets {
  padding: 2rem;
}

.wallet-item {
  margin: 1.5em 0;
  padding: 1em;
  border-radius: 1em;
  box-shadow: inset var(--general-shadow);
}

.wallet-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet-item__ticker {
  font-size: 2em;
}

.wallet-item__balance-wrapper {
  display: flex;
  flex-direction: column;
}
