/* cyrillic */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v13/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v13/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  --black: #000;
  --dark: #181818;
  --light-dark: #252525;
  --dark-gray: #3d3d3d;
  --white: #fff;
  --light: #e6e6e6;
  --dark-light: #bbbbbb;
  --gray: #adadad;
  --red: #fd6363;
  --orange: #fd7e14;
  --blue: #0073df;
  --pink: #ec4d9d;
  --brand-color: var(--blue);

  font-family: 'Source Code Pro', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  max-width: 1980px;
  min-width: 320px;
  padding: 0;
  margin: 0;
}

button,
label,
input,
textarea {
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
/* Hide arrows for input:number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
